@model List<PartViewModel>

@{
    ViewData["Title"] = "Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container background-body">
    <div class="row pt-2">
        <div class="col">
            <h2 class="ml-1">Parts</h2>
        </div>
        <div class="col text-sm-right">
            <a class="btn btn-success btn-sm text-right" asp-area="Cved" asp-controller="Parts" asp-action="Create">Create</a>
        </div>
    </div>
    <hr class="mt-1" />
    <div class="table-responsive text-nowrap">
        <h3 class="text-danger text-center">
            @TempData["Error"]
        </h3>
        <table id="partsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">
                        Make

                    </th>
                    <th class="th-sm">
                        Model

                    </th>
                    <th class="th-sm">
                        Speed Rating

                    </th>
                    <th class="th-sm">
                        Suspension Rating

                    </th>
                    <th class="th-sm">
                        Type

                    </th>
                    <th class="th-sm">
                        Weight

                    </th>
                    <th class="th-sm">
                        BasePrice

                    </th>
                    <th class="th-sm">
                        Options

                    </th>
                    <th class="th-sm">
                        Description

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var part in Model)
                {
                    <tr>

                        <td>@part.Make</td>
                        <td>@part.Model</td>
                        <td>@part.SpeedRating</td>
                        <td>@part.SuspensionRating</td>
                        <td>@part.Type</td>
                        <td>@part.Weight</td>
                        <td>@part.BasePrice</td>
                        <td>
                            <a class="btn btn-info btn-sm m-0" asp-area="Cved" asp-controller="Parts" asp-action="Edit" asp-route-partId="@part.Id">Edit</a>
                            <a class="btn btn-info btn-sm m-0" asp-area="Cved" asp-controller="Parts" asp-action="Sell" asp-route-partId="@part.Id">Sell</a>
                        </td>
                        <td class="text-wrap">
                            @part.Description
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="th-sm">
                        Make

                    </th>
                    <th class="th-sm">
                        Model

                    </th>
                    <th class="th-sm">
                        SpeedRating

                    </th>
                    <th class="th-sm">
                        SuspensionRating

                    </th>
                    <th class="th-sm">
                        Type

                    </th>
                    <th class="th-sm">
                        Weight

                    </th>
                    <th class="th-sm">
                        BasePrice

                    </th>
                    <th class="th-sm">
                        Description

                    </th>
                    <th class="th-sm">
                        Options

                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
