@model IndexViewModel

@{
    ViewData["Title"] = "Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container background-body table-responsive text-nowrap">
    @if (TempData["Error"] != null)
    {
        <h3 class="pt-2 text-danger">@TempData["Error"]</h3>
        <hr />
    }
    <table id="playerTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">
                    Username

                </th>
                <th class="th-sm">
                    Email

                </th>
                <th class="th-sm">
                    Role

                </th>
                <th class="th-sm">
                    Registration date

                </th>
                <th class="th-sm">
                    Options

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td>@player.Username</td>
                    <td>@player.Email</td>
                    <td>@player.Role</td>
                    <td>@player.CreatedOn</td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-area="Admin" asp-controller="Player" asp-action="edit" asp-route-username="@player.Username" asp-route-role="@player.Role">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th class="th-sm">
                    Username

                </th>
                <th class="th-sm">
                    Email

                </th>
                <th class="th-sm">
                    Role

                </th>
                <th class="th-sm">
                    Registration date

                </th>
                <th class="th-sm">
                    Options

                </th>
            </tr>
        </tfoot>
    </table>
</div>
